body
{
  overflow: hidden;
  background-image: url('./img/figure/cool-background.png');
}
/*========================================================================
14. Demo Layout Eleven
=========================================================================*/
.from-login {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding: 15px;
}
.from-login .fxt-checkbox-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.from-login .bg-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.07);
}
.from-login .fxt-content {
  padding: 65px 90px 45px;
  width: 100%;
  background-color: #fff;
}


@media only screen and (max-width: 767px) {
  .from-login .fxt-content {
    padding: 65px 30px 45px;
  }
  .from-login {
    transform: translate(0%, 0%);
  }
}


@media (min-width: 768px)
{
  .from-login {
    transform: translate(0%, 0%);
    min-height: 62vh;
  }
}

@media (min-width: 1200px)
 {
  .from-login {
    transform: translate(20%, 19%);
    min-height: 62vh;
  }
}

.from-login .header {
  text-align: center;
  margin-bottom: 50px;
}
.from-login .header .fxt-logo {
  display: block;
  margin-bottom: 7px;
}
.from-login .header h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}
.from-login .header p {
  color: #999898;
}
.from-login .form-class h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 25px;
}
.from-login .form-class .fxt-otp-logo {
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
.from-login .form-class .fxt-otp-label {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
.from-login .form-class p {
  font-size: 18px;
  color: #111111;
  text-align: center;
}
.from-login .form-class p span {
  display: block;
}
.from-login .form-class form .input-label {
  color: #979696;
}
.from-login .form-class .form-group {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.from-login .form-class .form-group .field-icon {
  position: absolute;
  z-index: 1;
  left: 19px;
  bottom: 18px;
  font-size: 14px;
  color: #a1a1a1;
}
.from-login .form-class .form-group .field-icon:before {
  padding: 17px 10px;
}
.from-login .form-class .form-control {
  min-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e7e7e7;
  padding: 10px 15px;
  color: #111;
}
.from-login .form-class input::-webkit-input-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.from-login .form-class input::-moz-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.from-login .form-class input:-moz-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.from-login .form-class input:-ms-input-placeholder {
  color: #a1a1a1;
  font-size: 15px;
  font-weight: 300;
}
.from-login .form-class .form-class-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.from-login .form-class .form-class-row .form-class-col {
  padding: 10px 5px;
  text-align: center;
  margin-left: 10px;
  flex-basis: 0;
  flex-grow: 1;
}
.from-login .form-class .form-class-row .form-class-col:last-child {
  margin-left: 0;
}
.from-login .form-class .form-class-btn {
  margin-bottom: 10px;
}
.from-login .from-btn-fill {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 3px;
  background-color: #6bab5b;
  padding: 10px 36px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.from-login .from-btn-fill:hover {
  background-color: #333;
  border-color: #333;
}
.from-login .from-btn-fill:focus {
  outline: none;
}
.from-login .switcher-text {
  color: #63bbff;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.from-login .switcher-text:hover {
  color: #000000;
}
.from-login .switcher-text2 {
  color: #63bbff;
  font-size: 15px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.from-login .switcher-text2.inline-text {
  margin-right: 3px;
}
.from-login .switcher-text2:hover {
  color: #000000;
}
.from-login .fxt-style-line {
  overflow: hidden;
  text-align: center;
}
.from-login .fxt-style-line h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 20px;
  color: #a4a4a4;
  display: inline-block;
  position: relative;
  padding: 0 25px;
  z-index: 1;
}
.from-login .fxt-style-line h3:before {
  display: inline-block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ebebeb;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
}
.from-login .fxt-style-line h3:after {
  display: inline-block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ebebeb;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
}
.from-login ul.fxt-socials {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: -5px;
  margin-left: -5px;
  margin-bottom: 20px;
}
.from-login ul.fxt-socials li {
  max-width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  list-style-type: none;
}
@media only screen and (max-width: 575px) {
  .from-login ul.fxt-socials li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 350px) {
  .from-login ul.fxt-socials li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
.from-login ul.fxt-socials li a {
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  height: 45px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.from-login ul.fxt-socials li a i {
  border-radius: 2px 0 0 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}
.from-login ul.fxt-socials li a span {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.from-login ul.fxt-socials li.fxt-facebook a {
  background-color: #3b5998;
}
.from-login ul.fxt-socials li.fxt-facebook a i {
  background-color: #4867aa;
}
.from-login ul.fxt-socials li.fxt-facebook a:hover {
  background-color: #5676bb;
}
.from-login ul.fxt-socials li.fxt-twitter a {
  background-color: #00acee;
}
.from-login ul.fxt-socials li.fxt-twitter a i {
  background-color: #33ccff;
}
.from-login ul.fxt-socials li.fxt-twitter a:hover {
  background-color: #3dc5f3;
}
.from-login ul.fxt-socials li.fxt-google a {
  background-color: #CC3333;
}
.from-login ul.fxt-socials li.fxt-google a i {
  background-color: #db4437;
}
.from-login ul.fxt-socials li.fxt-google a:hover {
  background-color: #e75042;
}
.from-login .checkbox {
  padding-right: 5px;
  margin-left: 30px;
  margin-bottom: 5px;
}
.from-login .checkbox label {
  padding-right: 20px;
  color: #a4a4a4;
  margin-bottom: 0;
  font-size: 15px;
  position: relative;
}
.from-login .checkbox label:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  right: 0;
  margin-right: -5px;
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.from-login .checkbox label:after {
  position: absolute;
  margin-right: -20px;
  padding-right: 3px;
  font-size: 10px;
  color: #555555;
}
.from-login .checkbox input[type="checkbox"] {
  display: none;
}
.from-login .checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'Font Awesome 5 Free';
  content: "\f00c";
  font-weight: 900;
  color: #ffffff;
  right: 15px;
  top: 4px;
}
.from-login .checkbox input[type="checkbox"]:checked + label::before {
  background-color: #111;
  border-color: #111;
}
.from-login .footer {
  text-align: center;
}
.from-login .footer p {
  color: #999898;
}
.from-login .footer .fxt-resend-wrap {
  margin-bottom: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  width: 100%;
}
.from-login .footer .fxt-btn-resend {
  margin-right: 3px;
  box-shadow: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  color: #63bbff;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.from-login .footer .fxt-btn-resend:focus {
  outline: none;
}
.from-login .footer .fxt-btn-resend:hover {
  color: #000000;
}
.from-login .footer .text-or {
  margin-right: 3px;
  color: #000000;
}